## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##







IndexIgnore *

RewriteEngine on
RewriteRule ^copacu  index.php [NC,L]
RewriteRule ^([a-zA-Z]+)$  index.php?page=$1 [NC,L]
RewriteRule ^p/([a-zA-Z]+)$ index.php?process=$1 [NC,L]
RewriteRule ^view/(.*)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)$  index.php?page=view&country=$1&state=$2&postid=$3 [NC,L]


#errors
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php