RewriteEngine on
RewriteRule ^copacu  index.php [NC,L]
RewriteRule ^([a-zA-Z]+)$  index.php?page=$1 [NC,L]
RewriteRule ^view/([a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)$  index.php?page=view&country=$1&state=$2&postid=$3 [NC,L]
RewriteRule ^p/([a-zA-Z]+)$ index.php?process=$1 [NC,L]


